
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Steps</h2>
            <ul>
                <li><a href="{{ "/" | relative_url }}">Home</a></li>
                <li><a href="{{ "/Sliding-windows.html" | relative_url }}">Step 1: Introduction</a></li>
            </ul>
        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>
</body>
</html>
